<form class="signin" ng-submit="signin()" ng-controller="signinController">
  <label for="">Username
    <input type="text" ng-model="username" placeholder="please enter your username here" required>
  </label>
  <label for="">E-mail
    <input type="email" ng-model="email.txt" placeholder="user@mail.hu" required>
  </label>
  <label for="">Password
    <input type="password" ng-model="pw" placeholder="password" pattern=".{6,}" title="Please enter 6 characters or more." required>
  </label>
  <label for="">Repeate your password
    <input type="password" ng-model="rppw" placeholder="confirm password" wj-validation-error="rppw != pw ? 'Passwords don\'t match' : ''" required>
  </label>
  <input type="submit" name="name" value="submit">
</form>
