<!DOCTYPE html>
<html lang="en" ng-app='app'>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/master.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>
  </head>
  <body>
    <!-- <header ng-include="'header.html'"></header> -->
    <p>
      Test
    </p>
    <main ng-view></main>
  </body>
</html>
